<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


Scaffold‐dbcontext ‐connection "server=(localdb)\mssqllocaldb; database= CrudInBlazorSeverAppDB; ‐ provider Microsoft.EntityFrameworkCore.SqlServer ‐outputdir Models ‐ContextDir Data ‐context MyDbContext – NoOnConfiguring 

Scaffold-DbContext "Server=(localdb)\mssqllocaldb;Database=CrudInBlazorSeverAppDB;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -ContextDir Data -Context MyDbContext -NoOnConfiguring